.todo{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgray;
}

.todoTop{
    height: 30px;
    background-color: #ECF0F1;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.todoMain{
    padding: 15px;
}

.todoList{
    margin-top: 15px;
    border: 1px solid lightgray;
}

.noTodos{
    text-align: center;
    margin-top: 10px;
    color: gray;
}

